*, html, body {
    margin: 0;
    padding: 0;
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1rem;
    gap: 0;
}

.item {
    box-sizing: border-box;
    height: 25vh;
    border: 1px solid black;
}

.mole {
    background: no-repeat center url('https://th.bing.com/th/id/R.96c111f0270af4f734173f3d5fe53037?rik=KtWNtxMw5kfRPQ&riu=http%3a%2f%2fimages2.wikia.nocookie.net%2f__cb20111119225252%2fmarioparty%2fes%2fimages%2fa%2fac%2fWario.jpg&ehk=UOIaiVDnG%2bGBttsFDLsmP%2bEpg2bwdGCleBmbBtYoYnA%3d&risl=&pid=ImgRaw&r=0');
    background-size: contain;
}

.hit {
    background: no-repeat center url('https://images.wikidexcdn.net/mwuploads/esssbwiki/thumb/0/04/latest/20180613002304/Wario_SSBU.png/1200px-Wario_SSBU.png');
    background-size: contain;
}

.flex {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

button {
    display: block;
    margin: 0 auto;
    cursor: pointer;
}